<header class="app-header">
  <div class="header-left">
    <button class="btn-icon" (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Búsqueda global...">
    </div>
  </div>
  <div class="header-right">
    <img src="https://www.deloitte.com/content/dam/assets-shared/logos/png/a-d/deloitte-print.png" alt="Deloitte Logo" class="header-logo">
    <div class="divider"></div>
    <img src="https://ies-systemsmx.com.mx/assets/img/IES-logo.svg" alt="IES Systems Logo" class="header-logo ies">
    <div class="divider"></div>
    <button class="btn-icon">
      <mat-icon>notifications</mat-icon>
      <span class="notification-badge">1</span>
    </button>
    <div class="user-profile">
      <!-- <span>Javier</span> -->
      <!-- <mat-icon>expand_more</mat-icon> -->
    </div>
  </div>
</header>