.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0 24px; // mat-dialog-title ya tiene padding
}

mat-dialog-content {
  padding: 1.5rem;
}

mat-dialog-actions {
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--border-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.coincidence-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--danger-color);
  font-weight: 500;
  margin-top: 0.5rem;
}

mat-card {
  background-color: var(--background-color);
  box-shadow: none;
  border: 1px solid var(--border-color);
}