.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
table {
  width: 100%;
}
td.mat-cell, th.mat-header-cell {
  padding: 8px 16px;
}